html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Space Grotesk";
  color: White;
  background-color: #121212;
}
.title,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
}
.title {
  font-size: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-elements {
  display: flex;
  flex-direction: column;
}
.form label {
  font-size: 20px;
}
.form input {
  border: 0;
  border-radius: 4px;
  height: 30px;
  width: 99vw;
  max-width: 300px;
  margin: 5px 0 20px 0;
  font-family: "Space Grotesk";
  background-color: #292929;
  font-size: 18px;
  color: white;
}
.form select {
  border: 0;
  border-radius: 4px;
  height: 32px;
  width: 99vw;
  max-width: 305px;
  margin: 5px 0 0 0;
  background-color: #292929;
  color: white;
  font-size: 18px;
}
.form select option {
  border: 0;
  font-family: "Space Grotesk";
  color: white;
  background-color: #292929;
  font-size: 18px;
}
.form button {
  border: 0;
  border-radius: 4px;
  font-family: "Space Grotesk";
  color: white;
  background-color: #292929;
  margin: 25px 0 0 0;
  height: 35px;
  width: 150px;
  font-size: 20px;
}
.form button:hover {
  background-color: #1d1d1d;
  cursor: pointer;
}
.form button:active {
  transform: translateY(1px);
}
.form #warning {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
}
